NLPForUE5Plugin/.vs
NLPForUE5Plugin/Binaries
NLPForUE5Plugin/DerivedDataCache
NLPForUE5Plugin/Intermediate
NLPForUE5Plugin/Saved
NLPForUE5Plugin/Plugins/FastChangeLanguage/Binaries
NLPForUE5Plugin/Plugins/FastChangeLanguage/Intermediate
NLPForUE5Plugin/.vsconfig
NLPForUE5Plugin/.idea
NLPForUE5Plugin/Plugins/NLPFORUE/Binaries
NLPForUE5Plugin/Plugins/NLPFORUE/Intermediate
DataSets
envs
ThirdApplication
ThirdParty
NLPForUE5Plugin/Plugins/NLPFORUE/Scripts/db.sqlite3